{
    "extends": [
      "xo",
      "xo-react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "ecmaFeatures": {
          "jsx": true
        }
      }
    },
    "rules": {
      "new-cap": 0,
      "react/no-unused-prop-types": 0,
      "react/forbid-component-props": 0
    },
    "globals": {
      "window": true,
      "document": true,
      "fetch": true
    },
    "plugins": [
      "react",
      "babel",
      "import",
      "jest"
    ],
    "env": {
      "jest/globals": true
    }
}
