@import '../utils/mixins.css';
@import '../utils/variables.css';

.image {
	align-items: center;
	display: flex;
	justify-content: center;
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%;

	&::before {
		background-color: color-mod($black alpha(0.1));
		content: ' ';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	img {
		height: auto;
		width: 100%;
	}

	@media (--tabletUp) {
		height: 450px;
		width: 50%;

		img {
			height: 100%;
			width: auto;
		}
	}
}

.homeImages {
	position: relative;
}

.imageWrap {
	display: flex;
	flex-wrap: wrap;
}

.title {
	@include fontSize(30, 30);
	bottom: 20px;
	color: $white;
	display: none;
	font-family: $heading;
	font-weight: 400;
	left: 0;
	position: absolute;
	margin: 0 auto;
	right: 0;
	text-align: center;
	text-shadow: $headingShadow;
	width: 80%;

	@media (--desktopUp) {
		display: block;
	}
}
