@import '../utils/mixins.css';
@import '../utils/variables.css';

.shopDescription {
	margin: 0 auto;
	max-width: 475px;
}

.mail {
	@include fontSize(12, 16);
	font-style: italic;
	margin-bottom: 0.25rem;
}

.product {
	composes: card from '../vendor/bootstrap.css';
	composes: bg-light from '../vendor/bootstrap.css';
	margin-bottom: 1rem;
	padding-bottom: 0.75rem;
}

.productImage {
	composes: card-img-top from '../vendor/bootstrap.css';
	text-align: center;
}

.productContent {
	composes: card-body from '../vendor/bootstrap.css';
}

.productPrice {
	font-weight: 700;

	small {
		font-style: italic;
		margin-left: 0.15rem;
		vertical-align: middle;
	}
}

.productPaypal {
	margin-bottom: 1rem;
}

.section {
	composes: section from './behavior.module.css';
}

.sectionTitle {
	composes: sectionTitle from './behavior.module.css';
}
