@import '../utils/variables.css';
@import '../utils/mixins.css';

.gallery {
	display: block;
	position: relative;
}

.galleryInner {
	@include noList;
	display: flex;
	min-height: 125px;
	max-height: 150px;
	opacity: 0;
	transition: opacity 0.3s, max-height 0.15s;

	&:hover {
		.item {
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.galleryInnerLoaded {
	composes: galleryInner;
	min-height: none;
	max-height: 3000px;
	opacity: 1;
}

.item {
	cursor: pointer;
	transition: opacity 0.3s;
	width: 50%;

	@media (--tabletUp) {
		max-width: none;
		width: calc(100% / 4);
	}

	img {
		height: auto;
		width: 100%;
	}

	&:hover {
		opacity: 1;
	}
}

.itemInner {
	position: relative;
}

.placeholder {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.image {
	opacity: 0;
	transition: opacity 0.3s;
}

.imageLoaded {
	composes: image;
	opacity: 1;
}

.galleryCarousel {
	img {
		height: auto;
		margin: 0 auto;
		max-width: 100%;
	}
}
