@import "../utils/variables.css";
@import "../utils/mixins.css";

.header {
	position: relative;
	height: 273px;

	@media (--smallUp) {
		height: 400px;
	}

	@media (--desktopUp) {
		height: auto;
	}
}

.imageDesktop {
	background-image: url('../../img/header.jpg');
	background-repeat: no-repeat;
	background-size: 950px 322px;
	display: none;
	height: 322px;
	position: relative;

	@include desktopUp {
		display: block;
	}
}

.imageMobile {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	position: relative;

	img {
		width: auto;
		height: 100%;
	}

	@include desktopUp {
		display: none;
	}

	&::before {
		background-color: color-mod($black alpha(0.1));
		content: ' ';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}
}

.title {
	@include fontSize(40, 40);
	bottom: 20px;
	color: $grey;
	display: block;
	font-family: $heading;
	letter-spacing: 3px;
	position: absolute;
	right: 20px;
	text-shadow: $headingShadow;
}

.subtitle {
	composes: title;
	@include fontSize(24, 24);
	bottom: auto;
	margin-bottom: 1rem;
	position: relative;
	right: auto;
	text-align: center;
}

.cta {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 0;
}

.ctaMobile {
	align-items: center;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	left: 0;
	margin: 0 auto;
	width: 90%;
	right: 0;
	position: absolute;
}

.button {
	composes: primary from '../utils/buttons.css';
}

.navWrap {
	position: absolute;
	width: 100%;
	z-index: 1;

	@media (--desktopUp) {
		position: relative;
	}
}
