@import '../utils/variables.css';
@import '../utils/mixins.css';

.modal {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}

.overlay {
	background-color: color-mod($black alpha(0.5));
	height: 100%;
	position: absolute;
	width: 100%;
}

.wrap {
	height: 100%;
	width: 100%;
}

.inner {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 10% 0;
	width: 100%;
	z-index: 1002;
}

.close {
	composes: fa from '../vendor/fontawesome-all.css';
	composes: fa-times from '../vendor/fontawesome-all.css';
	@include fontSize(24, 24);
	color: $white;
	cursor: pointer;
	opacity: 0.6;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 1003;

	&:hover {
		opacity: 0.8;
	}
}
