@import '../utils/mixins.css';

.videoWrap {
	margin-bottom: 1rem;
	position: relative;
}

.videoLoading {
	opacity: 0;
	transition: opacity 0.3s;
}

.videoLoaded {
	composes: videoLoading;
	opacity: 1;
}

.video {
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 25px;
	position: relative;

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.caption {
	@include fontSize(12, 12);
}

.localVideo {
	padding-bottom: 56.25%;
	position: relative;

	video {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
